@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  background-color: #efefef;
}

#root {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  width: 100%;
  max-width: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #333;
  box-shadow: 0px 0px 15px gray;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  outline: none;
}

button {
  margin-top: 1rem;
  height: 48px;
  min-width: 48px;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

label,
p {
  display: block;
  padding: 10px 0;
}

.error-msg {
  color: red;
}

.home-page,
.login-page,
.register-page,
.chat-page,
.message-page,
.search-page,
.page-not-found {
  width: 100%;
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
  background-color: #fff;
}

.back-icon {
  font-size: 2rem;
  cursor: pointer;
}

.login-page button,
.register-page button {
  width: 100%;
}

.search-page h2 {
  padding-top: 10px;
}

.search-header,
.message-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0;
  background-color: #66d8f5;
}

.search-container,
.contact-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
}

.search-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  background-color: #333;
}

.search-bar input[type="text"] {
  width: 50%
}

.search-bar button {
  margin-top: 0;
}

.search-item,
.contact-item {
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
}

.search-container>:not(:last-child),
.contact-container>:not(:last-child) {
  border-bottom: none;
}

.search-item:nth-child(even) {
  background: lightgrey;
}

.chat-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #66d8f5;
}

.chat-header h1 {
  flex-grow: 9;
}

.chat-header a,
.chat-header button {
  flex-grow: 1;
}

.login-header,
.register-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #66d8f5;
}

.message-page,
.chat-page,
.search-page {
  display: flex;
  flex-direction: column;
}

.message-page h2 {
  width: 100%;
  padding: 10px;
  background: lightgrey;
}

.messageForm,
.message-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 5px;
  background: #efefef;
}

.message-container {
  flex-grow: 1;
  flex-direction: column;
  overflow-y: auto;
}

.messageForm textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  display: flex;
  flex-grow: 1;
  height: 48px;
  padding: 10px;
}

.messageForm button {
  margin-top: 0;
  margin-left: 1rem;
}

.message-item {
  min-width: 40%;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid black;
  border-radius: 25px;
  padding: 5px 10px;
  margin-bottom: 5px;
}

.message-item.receive-msg {
  background: #fff;
}

.message-item.send-msg {
  background: #90EE90;
  margin-left: auto;
}

.message-item .message-date {
  padding: 0;
  width: 100%;
  color: grey;
  font-size: 12px;
  text-align: right;
}